@font-face {
  font-family: SpaceMono;
  src: url("../components/assets/fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SpaceMono;
  src: url("../components/assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: SpaceMono;
  src: url("../components/assets/fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: SpaceMono;
  src: url("../components/assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-style: normal;
}

p {
  margin: 0;
}

.outlet {
  padding: 10px 15px;
  font-family: SpaceMono, "Courier New", Courier, monospace, system-ui,
    -apple-system, "Segoe UI", Roboto, Ubuntu, "Open Sans", sans-serif;
  font-size: 16px;
}

.personal-details > .heading {
  color: rgb(1, 28, 97);
  margin-bottom: 2px;
}

span.name {
  margin-right: 35px;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

span.job-title {
  font-style: italic;
  font-size: 1.15rem;
  text-transform: capitalize;
}

.email-icon,
.phone-icon,
.location-icon,
.linkedIn-icon {
  background-size: 100% 100%;
  margin-right: 5px;
}

.email-icon {
  height: 15px;
  width: 15px;
}

.phone-icon {
  height: 20px;
  width: 20px;
}

.location-icon {
  height: 15px;
  width: 15px;
}

.linkedIn-icon {
  height: 20px;
  width: 20px;
}

.item-email > span:first-child {
  background-image: url("../components/assets/email-icon.svg");
}

.item-phone > span:first-child {
  background-image: url("../components/assets/phone-icon.svg");
}

.item-location > span:first-child {
  background-image: url("../components/assets/pin-icon.svg");
}

.item-linkedIn > span:first-child {
  background-image: url("../components/assets/linkedin-icon.svg");
}

.item-email,
.item-phone,
.item-location,
.item-linkedIn {
  display: flex;
  align-items: center;
  position: absolute;
}

.item-phone {
  left: 240px;
}

.item-location {
  top: 70px;
}

.item-linkedIn {
  top: 107px;
}

.item-email span,
.item-phone span,
.item-location span,
.item-linkedIn span {
  font-size: 0.85rem;
}

.personal-details {
  position: relative;
  height: 145px;
}

.item-pic {
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  left: 425px;
  top: 15px;
}

.section-heading {
  display: flex;
  justify-content: center;
  border-width: 2px 0;
  border-color: black;
  border-style: solid;

  font-weight: bold;
  color: rgb(1, 28, 97);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

.section-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: flex-start;
  padding: 7px 10px 15px;
  font-size: 0.82rem;
}

.section-items span {
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  text-transform: capitalize;
}

.language-details span:not(:last-child)::after {
  content: ".";
  position: absolute;
  right: -6px;
  top: -8px;
  font-weight: bold;
  font-size: 1.3rem;
}

.interest-details span:not(:last-child)::after {
  content: ",";
  position: absolute;
  right: -8px;
  top: -6px;
  font-size: 1.2rem;
}

.interest-details .section-items span {
  border: 0;
  padding: 0 2px;
}

.language-details .section-items span {
  padding: 0 6px;
  border: 0;
}

.item > .title span:nth-child(2),
.project-items p {
  font-size: 0.72rem;
}

.item > .title span:nth-child(2) {
  font-style: italic;
}

.project-title {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
}

span.project-title::after {
  content: ",";
  font-weight: bold;
  margin-right: 4px;
}

.project-items .item {
  margin-bottom: 5px;
}

.edu-items .item {
  display: flex;
  justify-content: space-between;
}

.edu-items span.degree::after {
  content: ",";
  margin-right: 3px;
}

.edu-items span.degree {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.edu-items span.university {
  font-style: italic;
  font-size: 0.75rem;
}

.edu-items span.location {
  font-size: 0.8rem;
}
